<head>
<!-- <link rel="stylesheet" href="LandingPage.css">-->
</head>

<div class="sign-in-box">
    <br>
    <form action="<%= session_url %>" method="POST">
        <label for="">Username:
            <input type="text" name="user[username]">
        </label>
        <br>
        <br>
        <label for="">Password:
            <input type="password" name="user[password]">
        </label>
        <br>
        <br>
        <input type="submit" value="Sign in">
    </form>
</div>

<!--
<h2 class="Explore_nearby">Explore nearby
<li></li>
</h2>
<%= image_tag('logos/ExploreNearby.png') %>
<br>
<br>
<br>
<h3 class="Live_anywhere">Live anywhere</h3>
<div class ="img">
<%= image_tag('logos/a.png') %>
<%= image_tag('logos/dogOnBed.jpg') %>
<%= image_tag('logos/waterBoat.jpg') %>
<%= image_tag('logos/woodHouse.jpg') %>
</div>
<br>
<br>
<br>
<h4 class="Discover_Experiences">Discover Experiences</h4>
<%= image_tag('DiscoverExperiences/sheep.png') %>
<%= image_tag('DiscoverExperiences/ipad.png') %>
<%= image_tag('DiscoverExperiences/horse.png') %>
<br>
<br>
<br>

<h5 class="Inspiration_for_future_getaways">Inspiration for future getaways</h5>
<div class="container">
    <div class="row1">
        <div class="one">Phoenix</div>
        <br>
        <div class="two">HotSprings</div>
        <br>
        <div class="three">Los Angeles</div>
        <br>
        <div class="four">San Diego</div>
    </div>
    <div class="row2">Phoenix    HotSprings LA
    </div>
</div>
<br>
<br>
<br>
-->